<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008102589541-ch9f8jkd6linulbbrkshbp64vl0bk2vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008102589541-ch9f8jkd6linulbbrkshbp64vl0bk2vp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008102589541-g2vle5ii6fskc63hr4bb0b1gsf775hul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgK7NrlCiYz8JrhnswtoX3tGQ5EbxoBfk</string>
	<key>GCM_SENDER_ID</key>
	<string>1008102589541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nybal</string>
	<key>PROJECT_ID</key>
	<string>halal-nikah-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>halal-nikah-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008102589541:ios:e069aec45adf27cba9f28c</string>
</dict>
</plist>